main {
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(180, 200, 223);
    margin: 0;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

h2 {
    margin-top: 64px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

footer {
    text-align: center;
    color: slategray;
    padding: 15px;
}

.hr {
    border-top: 1px solid rgb(180, 200, 223);
}

#timeSeriesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100%;
    display: none;
}

button {
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.button:hover {
    background-color: deepskyblue;
}